<!-- Custom HTML goes here -->

<!-- File name                 footer.ejs
   * Student name              Nusrat Ara Riaz
   * Student id                300759574
   * Date Created              11/08/2018
   * Web site name             Assignment 4 Mini Portfolio
   * Latest Revision History   16/08/2018
   * File description          This file contains Custom HTML  
-->

<P id="footer"> &copy; Copyright Nusrat Riaz Student ID: 300759574 COMP125-S2018 Assignment 4</P>

  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>

</html>