
<div class="container">

  <%- include ../partials/header.ejs %>
   
     <div class="jumbotron">  
    <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-body">
            <!-- Jumbotron effect class -->
           
             <div class="myclass">
               
               <!--<div class="jumbotron">  -->
              
              <h1 class="display-4">Welcome to my portfolio!</h1>
              <p class="lead"></p>
              <img src="/Assets/images/myphoto2.jpg"  id="myimg" class="img-fluid" title="Nusrat Riaz" width="215" height="265"> </p>
              
              <p id="paragraph1">"I am Nusrat Riaz, a student at Centennial College, ON.  I am fluent in English, Urdu, Hindi, Punjabi and French. I have  work experience with HTML / CSS, Relational Databases (ORACLE, MYSQL), C#, Microsoft Office (Word, Visio, Project, PowerPoint, Excel, Access), Dreamweaver."</p>
              <!-- Black Mission tag -->
              <div id="colorspace">
              <div  id="mission" >
               
                <p>Mission</p>
              </div>
              </div>
              <!-- End -->
              <h3></h3>
              <p id="paragraph2">"My personal mission is to lead a fulfilling and happy life, which includes professional development and being a positive influence for my family, friends and community. My professional goal is to establish a successful career in Web Development with an emphasis on intellectual growth and networking with professionals in the field. I seek out challenges that help me better my skills as a web developer and I find overcoming these challenges extremely rewarding and fulfilling. I move forward in life with a sense of purpose and gratitude, and strive to make a personal commitment to hard work and integrity. One of my favourite quote is by Albert Schweitzer. "</p>
              <blockquote class="color">
                <img src="/Assets/images/quotation-marks-left.png" alt="" width="20" height="17">
                <i id="quote"> Success is not the key to happiness. Happiness is the key to success. If you love what you are doing, you will be successful.</i>
                <img src="/Assets/images/2014-05-23_8-02-18.gif" alt="" width="20" height="17">
                <br>
                <br>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
   <%- include ../partials/footer.ejs %>
   </div>  

</div>