<div class="container">

  <%- include ../partials/header.ejs %>
  <!--  <h1>
      <%= title %>
    </h1> 
    // <p>Welcome to 
      <%= title %>
    </p>-->
    <!-- New Code Responsive -->

   
<!--  <div class="container">-->
<div class="jumbotron">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <!-- Card Body -->
                <div class="card-body">
                    <!-- Project1 Start  -->
                    <!-- <h4 id="Project1">Text</h4> -->
                    <!-- Example row of columns -->
                    <div class="container" id="bkcolor1">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- <h4 id="abc"></h4> -->
                                
                                <h4 id="pname1">Car Dealer Ship Website </h4>
                                <!-- <ul id="proj1DetailsList"></ul> -->
                                <p id="pdetail1">I built a website to help advertise the inventory of a car dealership company. I designed and executed the webpage. The website was built using Web Expression software. This project has helped me gain expertise in the use of Web Templates and helped improve my css skills. This project has inspired me to become a motivated web developer. </p>
                                <!-- <p id="proj1">My First </p> -->
                                <p id="pbenefit1"> The website facilitates the dealership’s business by making information about their inventory and prices readily available to customers.</p>
                            </div>
                            <div class="col-md-6">

                                <div>
                                    <img id= "p1img" src="/Assets/images/cardealership.jpg" class="img-fluid"  title="Car Delear photo" width="380" height="280">
                                    <!-- <img src="./Assests/images/Project 2.JPG" title="project Photo" width="265" height="200"> -->
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                   
                    <!-- End of project1-->
                    <!-- Example row of columns -->
                    <!-- Project2 start -->
                    <!-- <h4 id="Project2">Text</h4> -->
                    <div class="container" id="bkcolor2">
                        <div class="row">
                            <div class="col-md-6">

                                <div>
                                    <img id = "p2img" src="/Assets/images/database3.jpg" class="img-fluid" title="ERD Diagram" width="380" height="280">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4 id="abc1Project2"></h4>
                                
                                <h4 id="pname2">Hotel Reservation System</h4>
                                <!-- <ul id="proj2DetailsList"></ul> -->
                                <!-- <p id="proj2"> My Second </p> -->
                                <p id="pdetail2">I worked with a team of dedicated individuals to help design an online hotel reservation system. The reservation system was built using SQL Developer. I conducted extensive background research for the project and designed a comprehensive Entity Relationship Diagram for the reservation system. It was an excellent learning opportunity.</p>
                                <!-- <p id="proj1">My First </p> -->
                                <p id="pbenefit2"> The reservation system helps minimize human errors and greatly facilitates hotel business by making reservations more efficient and cost-effective.</p>
                            </div>
                            <!--  -->

                            <!--  -->
                        </div>
                        <hr>
                    </div>
                    <!-- End of project2-->
                    <!-- Project3 Start -->
                    <!-- <h4 id="Project3">Text</h4> -->
                    <div class="container" id="bkcolor3">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 id="abc2"></h4>
                                <h4 id="pname3">Community Garden Project</h4>
                                <!-- <ul id="proj3DetailsList"></ul> -->
                                <!-- <p id="proj3">My Third </p> -->
                                <p id="pdetail3">I volunteered to help care for the Scarborough community garden in my neighborhood. This project helped me connect with many members of my community who share a common interest in gardening. Through this experience I learnt a lot about how to care for plants. I was able to express my creativity in many ways through this project. </p>
                                <!-- <p id="proj1">My First </p> -->
                                <p id="pbenefit3">This project enabled me to give back to my community and add to the beauty of my surroundings.</p>
                                <br><br>
                            </div>
                            <div class="col-md-6">
                                <!-- End of project3-->

                                <div>
                                    <img id = "p3img" src="/Assets/images/Project 4.jpg" class="img-fluid" title="Mini Garden" width="380" height="280" float:right }>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
       
         </div>
        <!-- Image taken from: https://www.today.com/parents/9-enchanting-fairy-gardens-build-your-kids-t15221  -->
    &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
        <%- include ../partials/footer.ejs %>

</div>