<!-- Custom HTML goes here -->

<!--   File name               error.ejs
   * Student name              Nusrat Ara Riaz
   * Student id                300759574
   * Date Created              11/08/2018
   * Web site name             Assignment 4 Mini Portfolio
   * Latest Revision History   16/08/2018
   * File description          This file contains Custom HTML
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
